<h1>Primera compra del producto <%= @product.name %></h1>
<p>El producto <strong><%= @product.name %></strong> fue comprado por primera vez.</p>
<p>Cliente: <%= @purchase.client.name %></p>
<p>Cantidad: <%= @purchase.quantity %></p>